#Q1:Temperature check

In [ ]:
current_temperature= float(input("Enter the current temperature:"))
if(current_temperature<10):
  print("it's too cold!")
elif(current_temperature>=10 and current_temperature<=25):
   print("it's cool outside")
else:
  print("it's too hot!")

Enter the current temperature:4
it's too cold!

#Q2:ATM withdrawal system

In [9]:
accout_balance= float(input("Enter your account balance:"))
withdrawal_amount= float(input("Enter the amount you want to withdraw"))
if(withdrawal_amount>accout_balance):
  print("insufficient balance")
else:
  balance=accout_balance-withdrawal_amount;
  print("Withdrawal successful")
  print("Remaining balance:",balance)

Enter your account balance:1000
Enter the amount you want to withdraw300
Withdrawal successful
Remaining balance: 700.0

#Q3:Student Grade calculator

In [ ]:
mark= int(input("Enter your mark: "))
if mark<=100 and mark >=90:
  print("A+")
elif(mark<=89 and mark>=80):
  print("A")
elif mark<=79 and mark >=70:
  print("B")
elif mark<=69 and mark>=60:
  print("c")
else:
  print("Fail")

Enter your mark: 40
Fail

#q4:Bus Ticket Discount

In [4]:

age= int(input("Enter your age:"))
ticke_price=100
if(age<5):
  final_price=0
elif age>=5 and age <=18:
  final_price=ticke_price*0.5
elif(age>=60):
  final_price=ticke_price
print("Your final price is:",final_price)

Enter your age:17
Your final price is: 50.0

#Q5:Restaurant Bill with discount

In [11]:
total_bill= float(input("Enter the total bill amount:"))
if total_bill>=1000:
  discount=total_bill*0.10
  final_bill=total_bill-discount
else:
  final_bill=total_bill
print("Final bill amount:",final_bill)

Enter the total bill amount:1200
Final bill amount: 1080.0

#6:Login authentication

In [3]:
actual_username="admin"
actual_password="12345"
username=input("Enter your username:")
password=input("Enter your password:")
if(username==actual_username and password==actual_password):
  print("Login successful")
else:
  print("Invalid credentials")

Enter your username:admin
Enter your password:77
Invalid credentials

#q7:Traffic light system

In [1]:
color=input("Enter the Traffic light system(red,yellow,green):")
if(color=="red"):
  print("Stop")
elif(color=="yellow"):
  print("Get Ready")
elif(color=="green"):
  print("Go")
else:
  print("invaild color")

Enter the Traffic light system(red,yellow,green):blue
invaild color

#Leap year  checker

In [8]:
year=int(input("Enter the year:"))
if(year%4==0):
  print("Leap year")
elif(year%4==0 and year%100!=0):
  print("Leap year")
else:
  print("Not a leap year")

Enter the year:2026
Not a leap year

#Q9:  job  Eligibility checker

In [ ]:
age=int( input("Enter your age :"))
qualification=input("Enter your qualification :")
if age>=18 and qualification=="graduate":
  print("Eligible for job")
else:
  print("Not eligible for job")

Enter your age :9
Enter your qualification :graduate
Not eligible for job

#Q:10 Electricity Bill calculator

In [ ]:
units= int(input("Enter the number of units consumed:"))
if units <=100:
  bill=units*5
elif units<=200:
  bill=units*7
else:
  bill=units*10
print("total biil amount", bill ,"BD")

Enter the number of units consumed:7
total biil amount 35 BD